.poker-home {
  position: relative;
  background: var(--bodyBg);
}

.poker-table-content {
  border-radius: 12px;
  padding-top: 50px;
}

.avatar img {
  border-radius: 50%;
  position: relative;
  left: -5px;
  margin-left: -15px;
  z-index: 1;
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.transaction-modalPopup .modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center !important;
  padding: 0.75rem;
  border-top: 1px solid #dee2e600 !important;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.avatars {
  direction: rtl;
  /* This is to get the stack with left on top */
  text-align: left;
  /* Now need to explitly align left */
  padding-left: 20px;
  /* Same value as the negative margin */
}

.poker-loader {
  position: fixed;
  background: #000000f5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.poker-loader img {
  width: 100px;
}

.home-poker-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  flex-wrap: wrap;
}

.home-poker-card {
  position: relative;
  min-height: calc(100vh - 510px);
  padding-top: 230px;
  padding-bottom: 200px;
  z-index: 99;
}

.home-poker-card h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  font-weight: 600;
}

.poker-avatar-box p {
  color: #ddd;
  margin: 0;
}

.home-poker-info p {
  font-size: 14px;
  margin-bottom: 6px;
}

.poker-avatar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2px;
  flex-wrap: wrap;
  gap: 10px;
}

.user-header {
  transition: all 0.5s;
  background: var(--bodyBg);
  padding: 20px 85px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.home-poker-info span {
  color: #ffffff;
}

.user-header-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.user-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.is-sticky .user-header-grid {
  align-items: center;
}
/* ***************************************** */
.switch {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* background: linear-gradient(45deg,
            rgb(183, 0, 255) 20%,
            rgb(255, 0, 170) 100%); */
  /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.363); */
  border-radius: 5px;
}

.switch input {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}

.switch div {
  width: 80%;
  height: 80%;
  margin: 10%;
  position: absolute;
}

.switch span {
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.switch .line-1 {
  width: 50%;
  transform: translate(-100%, -10px);
  transform-origin: 0 0;
}

.switch .line-3 {
  width: 50%;
  left: auto;
  right: 0;
  transform: translate(0, 10px);
  transform-origin: 100% 0;
}

input:checked + div span.line-1 {
  transform: translate(0, 0) rotate(-45deg);
}

input:checked + div span.line-3 {
  transform: translate(-100%, 0) rotate(-45deg);
}

input:checked + div span.line-2 {
  transform: translate(-50%, -50%) rotate(45deg);
}
/* ************************************** */
.navLink ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.navLink ul li {
  list-style-type: none;
}

.navLink ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
.navLink ul li a:hover {
  color: #f8363d;
}
.ddparent {
  position: relative;
}
.ddparent:hover .ddstyle {
  visibility: visible;
  opacity: 1;
}
.ddstyle {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out 0s;
  min-width: 150px;
  display: block !important;
  background-color: #00002d;
}
.ddstyle li a {
  padding: 10px;
  display: block;
}
.menuDdIcon {
  padding-left: 8px;
}
.user-info-box .pokerWallet-box {
  margin: 0;
  font-weight: 100;
  color: #bcbcbc;
  font-size: 14px;
}

.pokerWallet-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-game-box button {
  padding: 8px 20px;
  background: #dc3545;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid #dc3545;
  height: 44px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 0px;
  line-height: 0px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.backtoHome {
  /* position: absolute;
  top: -45px; */
}

.poker-table-header .backtoHome a {
  font-size: 18px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 6px;
}

.poker-table-header .backtoHome a:hover {
  text-decoration: none;
}

.backtoHome a img {
  width: 22px;
  height: 22px;
  padding-bottom: 2px;
}

.casino-logo img {
  max-width: 140px;
  width: 100%;
  transition: all 300ms ease-in-out 0s;
}
.is-sticky .casino-logo img {
  max-width: 80px;
}

.create-game-box,
.create-game-box-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.create-game-box a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.user-info-box {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  gap: 15px;
  align-items: center;
}

.user-info-box h5 {
  text-transform: capitalize;
  font-size: 18px;
  margin: 0;
  padding-bottom: 3px;
}

.user-info-box p i {
  color: #dc3545;
}

.casino-popup .modal-content {
  background: #fff;
  border-color: #fff;
  /* box-shadow: 0px 2px 10px #fff; */
}

.casino-popup .modal-header {
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding: 1rem 2rem;
}

.casino-popup .modal-body {
  padding: 1rem 2rem;
}

.casino-popup .modal-footer {
  border-top: 1px solid #ddd;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: nowrap;
}

.casino-popup .modal-header .modal-title.h4 {
  color: #000000 !important;
  font-weight: 700;
  font-size: 24px;
}

.casino-popup .modal-header button.close {
  color: #000000;
  font-weight: 100;
  text-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.footer-descp h6 {
  font-size: 14px;
  color: #dc3545;
}

.casino-popup .form-control,
.casino-popup .form-control:focus {
  color: #000000 !important;
  background: #ebe8e8;
  border: 1px solid #ebe8e8;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 16px;
  box-shadow: 0 0 0 0.1rem #dc354600;
}

.css-tj5bde-Svg {
  display: inline-block;
  fill: #858585c7 !important;
}

.casino-popup .form-control::placeholder {
  color: #858585c7;
  font-size: 14px;
}

.casino-popup .form-group {
  margin-bottom: 20px;
}

.modal-footer .btn,
.modal-footer .btn:focus,
.modal-footer .btn:active {
  padding: 8px 20px;
  background: #dc3545 !important;
  border-color: #dc3545 !important;
  border-radius: 30px;
  font-weight: 600;
  color: #ffffff !important;
  box-shadow: none !important;
  height: 40px;
  width: 150px;
  display: grid;
  place-content: center;
}

.spinner-border {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}

.modal-footer .btn.btn-secondary {
  background-color: #ddd !important;
  border-color: #ddd !important;
  color: #000 !important;
}

.blindpopupField {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.css-1rhbuit-multiValue {
  background-color: hsl(0deg 0% 16%) !important;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  min-width: 0;
  color: #fff;
  box-sizing: border-box;
}

.css-12jo7m5 {
  color: #fff !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.createGameCheckHand {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.createGameCheckHand .form-check-input {
  background-color: yellow !important;
}

.no-room-available {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 12px;
  padding: 30px 50px;
  width: 100%;
  height: 150px;
  box-shadow: 0px 0px 10px #808080c4;
  z-index: 9;
}

.no-room-available h4 {
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: #334b9b;
  font-weight: 800;
}

.walletTicket-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #fff;
}

.walletTicket-box .dropdown-menu {
  transform: translate(-5%, 60%) !important;
  background: #dc3545;
  border-radius: 10px;
}

.create-game-box .walletTicket-box a:hover,
.create-game-box .walletTicket-box a:active {
  color: #000000;
  background-color: #fff;
}

.create-game-box .walletTicket-box a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.walletTicket-box .pokerWallet {
  /* width: 38px; */
  height: 26px;
  object-fit: contain;
  /* margin: 0px 5px; */
  margin-right: 4px;
}

.pokerWallet-box button {
  width: auto !important;
  height: auto !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0px 0px 4px 4px;
  padding: 0 !important;
  font-size: 12px;
}

.pokerWallet-box svg {
  fill: #dc3545 !important;
}

.create-game-box-avtar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0px;
  color: #fff;
}
.create-game-box-avtar {
  position: relative;
}

.notificationPage {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 345px;
  background: rgb(0 0 0 / 70%);
  z-index: 9;
  padding: 20px;
  border-radius: 12px;
  max-height: 500px;
}

.notificationHeader h4 {
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.notificationHeader h4:before {
  content: "";
  position: absolute;
  bottom: 18px;
  width: 100%;
  height: 2px;
  background: #dc3545;
  border-radius: 12px;
}
.notificationMssg {
  overflow-y: scroll;
  max-height: 400px;
}

.notificationPage:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid rgb(0 0 0 / 70%);
}
.create-game-box-avtar span {
  position: absolute;
  background: #dc3545;
  border-radius: 100px;
  font-size: 12px;
  right: -6px;
  top: -3px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-game-box-avtar svg {
  width: 30px;
  height: 35px;
  cursor: pointer;
}
.notificationMssg h6 {
  font-size: 14px;
  font-weight: 300;
}

.create-game-box-avtar h5 {
  margin-bottom: 0px !important;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2px;
}

.create-game-box-avtar img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}

.css-12jo7m5 {
  font-size: 14px !important;
}

.poker-table-header {
  position: relative;
}

.poker-tableSearch {
  max-width: 100%;
  position: relative;
}

.poker-table-header .form-control,
.poker-table-header .form-control:active,
.poker-table-header .form-control:focus {
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  height: 42px;
  background: #240951;
  border: 2px solid rgba(237, 184, 255, 0.19);
  box-shadow: 0px 0px 51px rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  padding: 20px 200px 20px 30px;
  color: var(--white);
  height: 68px;
}
.poker-tableSearch .red-btnPrimary {
  max-width: 170px;
  height: 68px !important;
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  border-radius: 0 50px 50px 0 !important;
  padding: 10px 30px !important;
}

.home-poker-card a {
  color: #bcbcbc;
  font-weight: 600;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  padding: 18px 50px;
  margin: 0;
  font-weight: 400;
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  border-color: #dc3545;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff !important;
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
  font-weight: 400;
}

/***************** tournament card  **************/
.tournamentCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background: #0e063d;
  border: 2px solid rgba(237, 184, 255, 0.19);
  box-shadow: 0px 0px 51px rgba(255, 255, 255, 0.2),
    inset 0px 0px 34px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

h2.lobbyHeader-title {
  color: #fff;
}

.tournamentCard-inner.rotate {
  transform: rotateY(180deg);
}

.tournamentCard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.tournamentCard h4 {
  margin-bottom: 0px;
}

.tournamentCard-front h4 {
  font-size: 13px;
  text-align: left;
  font-weight: 700;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000000;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.btn-grid {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tournamentDetails .btn-grid button:last-child,
.tournamentCard-front .btn-grid button:last-child {
  color: #fff;
  background: #2a2929;
  cursor: pointer;
}

.tournamentFront-info {
  text-align: center;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #f8f8f8;
  border-radius: 16px;
}

.tournamentCard-front h4.tableName {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.tournamentCard .leaderboardBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: #dc3545;
  cursor: pointer;
  z-index: 9;
}

.tournamentCard-front .cardlogo {
  width: 150px;
  object-fit: contain;
}

.tournamentCard-front,
.tournamentCard-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.blindFields-box {
  /* display: flex;
  gap: 20px; */
  width: 100%;
}

.casino-popup .text-danger {
  margin: 2px 10px;
}

.tournamentCard-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 30px 10px 10px 10px;
}

.tournamentCard-back h4 {
  font-size: 12px;
}

.tournamentCard-back h4 span {
  font-size: 12px;
  color: #dc3545;
}

.tournamentDetails button {
  width: 100%;
  font-size: 14px !important;
  height: 38px !important;
}

.tournamentDetails button,
.tournamentCard-front button {
  background-color: #dc3545;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
  height: 35px;
  border: none;
}

div#controlled-tab-example-tabpane-home .tournamentCard-front button {
  width: 100%;
  font-size: 14px;
}

div#controlled-tab-example-tabpane-2 .tournamentCard-front button {
  width: 100%;
  font-size: 14px;
}

/* #controlled-tab-example-tabpane-2 .home-poker-card-grid {
  grid-template-columns: repeat(4, minmax(0, 1fr));
} */

/* #controlled-tab-example-tabpane-2 .tournamentCard {
  max-height: 280px;
  height: 100%;
} */
div#clockdiv {
  display: flex;
  flex-direction: row;
  grid-gap: 6px;
  gap: 6px;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

div#clockdiv h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokerTournament-tableCard * {
  margin: 0px;
}
.pokerTournament-header {
  padding: 20px 25px;
}
.pokerTournament-time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.pokerTournament-time h6 {
  display: inline-block;
  vertical-align: middle;
  color: #8a79b0;
  font-size: 12px;
}

.tableCard-imgDetail img {
  max-width: 96px;
  width: 100%;
  height: 114px;
  object-fit: contain;
}

.tableCard-imgDetail {
  display: flex;
  align-items: center;
  gap: 24px;
}

.extraDetail-container img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.tournamentCard-extraDetail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #0e063d;
  border: 2px solid rgba(237, 184, 255, 0.19);
  box-shadow: 0px 0px 48px rgba(255, 255, 255, 0.1),
    inset 0px 0px 34px rgba(255, 255, 255, 0.1);
}

.cardTournament-Fee {
  padding: 14px;
  text-align: center;
  width: 100%;
}
.winning-amt {
  border-bottom: 2px solid rgba(237, 184, 255, 0.19);
}
.tournamentCard-extraDetail .cardTournament-Fee + .cardTournament-Fee {
  border-left: 2px solid rgba(237, 184, 255, 0.19);
}

.cardTournament-Fee p {
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 0;
}

.extraDetail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0;
  font-size: 14px;
  color: #887aee;
}

.tournamentCard-nameDetail h2 {
  white-space: nowrap;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 40px;
  text-transform: capitalize;
  color: var(--white);
  font-weight: 700;
  font-family: var(--titleFont);
}

.tournamentCard-nameDetail h6 {
  font-size: 12px;
  font-weight: 500;
  color: #1a1a1a;
}

.tournamentCard-buttonDetail img {
  width: 45px;
  height: 40px;
  object-fit: contain;
  background: #343a40;
  border-radius: 8px;
  padding: 6px;
  box-shadow: inset 0px 0px 10px 1px #1d1e22;
  cursor: pointer;
}

.tournamentCard-buttonDetail img:active {
  transition: all 0.2s ease;
  filter: invert(0.2);
}

.tournamentCard-buttonDetail {
  display: flex;
  gap: 10px;
  padding: 8px;
}

.tournamentCard-buttonDetail button,
.tournamentCard-buttonDetail button:hover,
.tournamentCard-buttonDetail button:focus {
  color: #f9f9f9;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  width: 100%;
  border: 1px solid transparent;
}

.tournamentCard-buttonDetail button:active {
  background: #dc3545;

  border-color: #23242a !important;
  box-shadow: 0 2px 20px 18px rgb(195 195 195 / 20%);
  filter: invert(0.2);
  transition: all 0.2s ease;
}

.pokerTournament-tableCard {
  flex-direction: column;
  display: flex;
  background: #0e063d;
  border: 2px solid rgba(237, 184, 255, 0.19);
  box-shadow: 0px 0px 51px rgba(255, 255, 255, 0.2),
    inset 0px 0px 34px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 9;
}

.tournamentCard-nameDetail p {
  margin: 0;
  font-size: 15px;
  color: var(--white);
  display: flex;
  align-items: center;
}
.tournamentCard-nameDetail p span {
  color: #887aee;
  font-size: 22px;
}

.tournamentCard-nameDetail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
}

.tournamentCard-front button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* leader board */

.table-dark.table-bordered {
  border-radius: 8px;
}

.table-bordered {
  border: 1px solid #00000000;
}

.table-dark {
  color: #ddd;
  background-color: #141414 !important;
}

.table-dark.table-striped tbody tr:nth-of-type(odd),
.table-dark.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: rgb(27 27 27) !important;
}

.table-dark.table-hover tbody tr:hover {
  color: #ddd;
  background-color: #141414 !important;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #292929 !important;
  vertical-align: middle;
}

.tournament-lobbyPage p {
  margin-bottom: 0px;
}

th {
  color: #dc3545;
  font-weight: 500;
  vertical-align: middle;
}

tr.myRank:hover,
tr.myRank {
  background-color: #262728;
}

.leaderboard-table tr td {
  position: relative;
}

.leaderboard-table tr td p {
  display: grid;
  place-content: center;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
  height: 40px;
}

.leaderboard-table tr td svg {
  display: block;
  position: absolute;
  top: 46%;
  width: 40px;
  height: 40px;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.leaderboard-table tr.firstRank td:first-child p,
.leaderboard-table tr.secondRank td:first-child p,
.leaderboard-table tr.thirdRank td:first-child p {
  color: #000;
  position: relative;
  z-index: 9;
  display: grid;
  place-content: center;
}

.leaderboard-table tr.firstRank td:first-child svg,
.leaderboard-table tr.firstRank td:first-child svg path {
  stroke: #ffd700;
  fill: #ffd700;
}

.leaderboard-table tr.secondRank td:first-child svg,
.leaderboard-table tr.secondRank td:first-child svg path {
  stroke: #c0c0c0;
  fill: #c0c0c0;
}

.leaderboard-table tr.thirdRank td:first-child svg,
.leaderboard-table tr.thirdRank td:first-child svg path {
  stroke: #cd7f32;
  fill: #cd7f32;
}

.leaderBoardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaderBoardHeader .tournamentRanking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaderBoardHeader h1 {
  font-size: 26px;
  font-weight: 700;
  color: #dc3545;
}

.tournamentDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}

.tournamentDetails span {
  color: #dc3545;
  margin-left: 4px;
  word-break: break-word;
}

.tournamentTime h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tournamentTime div#clockdiv {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.tournamentTime div#clockdiv h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tournamentTime h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.table-responsive {
  margin: 0px auto;
  display: block;
  width: 80%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 500px;
  height: 100%;
  margin-bottom: 20px;
}

.leaderBoardPage .leaderBoardContainer {
  background: #000000c4;
  padding: 40px 0px;
  border-radius: 30px;
  box-shadow: 0px 2px 20px #1a1a1ae0;
}

.leaderboard-table th p {
  margin-bottom: 0px;
  font-weight: 600;
  text-align: center;
}

.tournamentRanking h6 {
  font-size: 12px;
  margin-bottom: 5px;
}

div#controlled-tab-example-tabpane-2
  .tournamentCard-front
  .tournamentRanking
  button {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  background: #dc3545;
  color: black;
}

div#controlled-tab-example-tabpane-2
  .tournamentCard-front
  .tournamentRanking
  button:focus {
  border-color: #dc3545;
  box-shadow: 0 1px 8px #fbff00b1;
}

.leaderboard-table .rankingUsers {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.leaderboard-table .rankingUsers p {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-table td img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.tournamentCard .tournamentImg {
  /* width: 100%;
  height: 38%; */
}

p.tournamentFinished,
h2.tournamentFinished,
h4.tournamentFinished {
  color: #00de00;
}

.GameTournament .tournamentFront-info h3 {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.GameTournament .tournamentFront-info h4 {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  font-size: 12px;
}

.tournamentFront-info span {
  color: #dc3545;
}

p.tournamentRunning,
h4.tournamentRunning,
h2.tournamentRunning {
  color: #ff1c00;
}

h4.tournamentFinished h2.tournamentFinished {
  color: #dc3545;
}

.tournamentFilter {
  width: 50%;
  display: flex;
  gap: 10px;
}

.leaderBoardPage a {
  color: #fff;
}

.tournament-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tournament-results .table-dark td,
.tournament-results .table-dark th,
.tournament-results .table-dark thead th {
  border-color: #292929 !important;
  vertical-align: middle;
  text-align: center;
}

.leaderboard-table {
  width: 100%;
}

.tournamentFilter button,
.tournamentFilter button:hover,
.tournamentFilter button:focus,
.tournamentFilter button:active {
  padding: 8px 20px;
  background: #dc3545 !important;

  border-radius: 30px;
  font-weight: 600;
  border: 1px solid #dc3545;
  box-shadow: none !important;
  height: 40px;
  color: rgb(0, 0, 0) !important;

  font-size: 14px;
}

a.nav-link.active {
  font-weight: 600;
}
.leftappImg {
  position: absolute;
  left: 0;
  top: 25%;
  z-index: -1;
}
.leftappImg img {
  max-width: 100%;
}
.leftappdiceImg {
  position: absolute;
  right: -35px;
  bottom: 300px;
  max-width: 250px;
  z-index: -1;
}
.leftappdiceImg img {
  max-width: 100%;
}

/* footer */
.footer-section {
  width: 100%;
  color: var(--lightText2);
  position: relative;
  padding-bottom: 200px;
}
.footerLeftImage {
  position: absolute;
  top: 0;
  max-width: 12vw;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footerLeftImage img {
  max-width: 100%;
}
.footerrightImage {
  position: absolute;
  right: 0;
  bottom: 18px;
  max-width: 25vw;
  -webkit-transform: translateX(28%);
  -ms-transform: translateX(28%);
  transform: translateX(28%);
}
.footerrightImage img {
  max-width: 100%;
}
.footerstar1 {
  position: absolute;
  left: 7%;
  bottom: 200px;
  max-width: 40px;
}
span.footerstar2 {
  position: absolute;
  left: 16.4%;
  bottom: 238px;
  max-width: 48px;
}
span.footerstar3 {
  position: absolute;
  left: 32%;
  bottom: 196px;
  max-width: 48px;
}
span.footerstar4 {
  position: absolute;
  right: 18%;
  top: 151px;
  max-width: 37px;
}

.footer-logo img {
  max-width: 136px;
  width: 100%;
}
.footer-descp p {
  max-width: 309px;
  margin-top: 20px;
  line-height: 1.9;
  font-size: 15px;
}

.footer-Grid {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  align-items: flex-start;
  border-top: 1px solid rgba(63, 97, 149, 0.5);
  padding-top: 140px;
}

.footer-logo {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0px;
  position: relative;
  z-index: 9;
}

.social-links li {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.social-links li:hover {
  background: #354c9c;
}

.social-links li:hover svg {
  fill: #fff;
}

.social-links li svg {
  fill: #354c9c;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.footer-links li {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0px;
}

.footer-links h5 {
  font-size: 19px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  font-weight: 600;
  color: var(--white);
}
.footer-links.contact h5 {
  padding-bottom: 30px;
}
.footer-links.contact li a {
  font-weight: 600;
  font-size: 15px;
}

.footer-links li a {
  color: var(--lightText2);
}
.footer-links li a:hover {
  color: var(--white);
  text-decoration: none;
}
.footer-links ul li + li {
  margin-top: 20px;
}

.footer-links ul {
  padding-left: 0px;
  margin: 0;
}

.footerBottomText {
  margin-top: 85px;
}
.footerBottomText p {
  color: #7787b1;
  margin: 0;
}
.follow-us {
  margin-top: 51px;
}
.follow-us h5 {
  padding-bottom: 20px;
}
ul.social-links li + li {
  margin: 0;
}

.walletTicket-box .btn-primary:hover {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.walletTicket-box button#dropdown-split-basic {
  padding-left: 4px;
}

.walletTicket-box .btn-primary.focus,
.walletTicket-box .btn-primary:focus {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem #dc354600 !important;
}

.walletTicket-box .btn-primary:not(:disabled):not(.disabled).active:focus,
.walletTicket-box .btn-primary:not(:disabled):not(.disabled):active:focus,
.walletTicket-box .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #dc354600 !important;
}

/* pokars tab */

.poker-table-content .nav-tabs {
  gap: 15px;
  justify-content: center;
  border-bottom: none;
  margin-bottom: 48px;
}
.connect-meta {
  max-width: 190px;
}
.red-btnPrimary {
  background-color: var(--primaryColor) !important;
  color: var(--white) !important;
  width: 100% !important;
  border-radius: 50px !important;
  font-size: 20px !important;
  padding: 14px 58px !important;
  font-weight: 400 !important;
  height: 60px !important;
  border-color: transparent !important;
  font-family: var(--titleFont);
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-btnPrimary:hover {
  background-color: var(--primaryDark) !important;
  color: white !important;
  border-color: transparent !important;
}
.red-btnPrimary:active {
  background-color: var(--primaryDark) !important;
  color: white !important;
  box-shadow: none !important;
}
.red-btnPrimary:focus {
  box-shadow: none !important;
}
.is-sticky {
  transition: all 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}
.leftappCircleImg {
  position: absolute;
  left: 0;
  top: 200px;
  opacity: 0.4;
  filter: blur(1px);
  z-index: -1;
}
.leftappRightImg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
  filter: blur(100px);
}
.navCol-responsive,
.menubtn,
.menubtn-mobile {
  display: none;
}
.cardTournament-Fee.bottom-fee-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tournamentCard-buttonDetail .cardTournament-Fee.bottom-fee-detail {
  padding: 0px 6px !important;
}
@media screen and (max-width: 1600px) {
  .footerLeftImage {
    max-width: 10vw;
    -webkit-transform: translateY(-50%) translateX(-40%);
    -ms-transform: translateY(-50%) translateX(-40%);
    transform: translateY(-50%) translateX(-40%);
  }
  .footerSection {
    padding: 100px 0 150px;
  }
  span.footerstar2,
  span.footerstar3 {
    max-width: 40px;
  }
  span.footerstar2 {
    bottom: 150px;
  }
  span.footerstar3 {
    bottom: 130px;
  }
  span.footerstar4 {
    right: 5%;
    top: 120px;
    max-width: 30px;
  }
  .leftappImg {
    max-width: 100px;
  }
  .leftappdiceImg {
    right: -10px;
    max-width: 120px;
  }
}

@media screen and (max-width: 1262px) {
  #controlled-tab-example-tabpane-2 .home-poker-card-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .footerrightImage {
    bottom: 0;
    max-width: 22vw;
  }
  .footerstar1 {
    bottom: 60px;
  }
  span.footerstar2 {
    bottom: 100px;
  }
  span.footerstar3 {
    bottom: 80px;
    left: 25%;
  }

  /* .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  } */
  .casino-logo img {
    max-width: 80px;
  }
  .red-btnPrimary {
    height: 46px !important;
  }
  .connect-meta {
    max-width: 130px;
  }
  .tournamentCard-nameDetail h2 {
    font-size: 34px;
  }
  .footer-Grid {
    padding-top: 100px;
  }
  .footer-section {
    padding-bottom: 150px;
  }
  .footer-links h5 {
    font-size: 15px;
  }
  .tournamentCard {
    border: 1px solid rgba(237, 184, 255, 0.19);
    box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.1),
      inset 0px 0px 24px rgba(255, 255, 255, 0.1);
  }
  .navCol-responsive,
  .menubtn {
    display: block;
  }
  .header-navlink-desktop-content {
    display: none;
  }
  .navCol-responsive {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00002d;
    overflow-y: auto;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    width: 260px;
    box-shadow: 0 0 20px rgba(172, 172, 172, 0.1);
    padding: 20px;
  }
  .navCol-responsive.active {
    transform: translate(0, 0);
  }
  .navLink-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .navLink-content ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .navLink-content ul li a {
    color: #fff;
  }
  .menubtn img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .btn-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .table-responsive {
    width: 90%;
  }
  .user-header {
    padding: 20px 40px;
  }
  .is-sticky {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .poker-table-header .form-control,
  .poker-table-header .form-control:active,
  .poker-table-header .form-control:focus {
    height: 50px;
  }
  .poker-tableSearch .red-btnPrimary {
    max-width: 120px;
    height: 50px !important;
  }
  .footer-Grid {
    padding-top: 60px;
  }
  .footer-section {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  #controlled-tab-example-tabpane-2 .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .leftappImg {
    top: 25%;
    max-width: 75px;
  }
  .leftappdiceImg {
    max-width: 80px;
    bottom: 150px;
  }
  .home-poker-card-grid {
    gap: 24px;
  }
  .home-poker-card {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  .nav-tabs .nav-link,
  .nav-tabs .nav-link {
    font-size: 14px;
    padding: 10px 20px;
  }
  .poker-table-content {
    padding-top: 30px;
  }
  .poker-table-content .nav-tabs {
    margin-bottom: 30px;
  }
  .tableCard-imgDetail img {
    max-width: 86px;
    height: 100%;
  }
  .tournamentCard-nameDetail h2 {
    font-size: 30px;
  }
  .tournamentCard-nameDetail p {
    font-size: 14px;
  }
  .cardTournament-Fee p {
    font-size: 16px;
  }
  .cardTournament-Fee {
    padding: 11px;
    text-align: center;
  }
  .footer-logo img {
    max-width: 110px;
  }
  .footer-descp p {
    font-size: 14px;
  }
  .footer-Grid {
    column-gap: 70px;
    row-gap: 45px;
  }
  .footer-links.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .contact-us-heading {
    width: 48%;
  }
  .follow-us {
    width: 38%;
    margin-top: 0;
  }
  .header-navlink-desktop-content {
    display: none;
  }
  .navCol-responsive,
  .menubtn {
    display: block;
  }
  .menubtn {
    width: 30px;
  }

  .navCol-responsive {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00002d;
    overflow-y: auto;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    width: 260px;
    box-shadow: 0 0 20px rgba(172, 172, 172, 0.1);
    padding: 20px;
  }
  .navCol-responsive.active {
    transform: translate(0, 0);
  }
  .navLink-content ul {
    margin: 0;
    padding: 0;
  }
  .navLink-content ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .navLink-content ul li a {
    color: #fff;
    padding: 0;
  }
  .ddparent:hover .ddstyle {
    z-index: 999;
  }
  .menubtn img {
    width: 30px;
    height: 30px;
  }
  .create-game-box,
  .create-game-box-login {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-row-gap: 12px;
    row-gap: 12px;
    align-items: center;
    width: 100%;
    margin-top: 4px; */
  }
}

@media screen and (max-width: 767px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .notificationPage {
    left: inherit;
    transform: inherit;
    right: 0;
  }
  .notificationPage:before {
    left: 77%;
  }

  .casino-popup .modal-footer {
    padding: 1rem 1rem;
  }

  .tournamentFilter {
    width: 88%;
  }

  .tournamentDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
  }

  .poker-tableSearch-box {
    /* position: absolute;
      right: 0px;
      top: -52px; */
  }

  .casino-popup .modal-body {
    padding: 1rem 1rem;
  }

  .casino-logo img {
    width: 75px;
  }

  .casino-popup .modal-header {
    padding: 1rem 1rem;
  }

  .user-header {
    margin-bottom: 25px;
  }

  .blindpopupField {
    gap: 10px;
  }

  .blindFields-box {
    gap: 10px;
  }

  .casino-popup label {
    font-size: 14px !important;
  }

  .user-header-grid {
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: flex-start;
  }
  /* .user-header-grid {
    gap: 35px;
  } */

  .create-game-box {
    position: relative;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-row-gap: 12px;
    row-gap: 12px;
    align-items: center;
    width: 100%;
    margin-top: 4px; */
  }
  .create-game-box-login {
    display: none;
  }

  .create-game-box h5 {
    display: grid;
    grid-column-end: 3;
    grid-column-start: 1;
    text-align: center;
  }
  .footer-Grid {
    grid-gap: 20px;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 40px;
  }

  .footer-links {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-bottom: 40px;
  }
  .footerBottomText {
    margin-top: 10px;
    max-width: 170px;
    width: 100%;
  }
  .footerLeftImage,
  .footerstar1,
  .footerstar2,
  .footerstar3 {
    display: none;
  }
  .footerrightImage {
    max-width: 60vw;
    -webkit-transform: translateX(55%) translateY(-30px);
    -ms-transform: translateX(55%) translateY(-30px);
    transform: translateX(55%) translateY(-30px);
  }
  .poker-table-header .form-control,
  .poker-table-header .form-control:active,
  .poker-table-header .form-control:focus {
    height: 42px;
    padding: 8px 100px 8px 15px;
  }
  .poker-tableSearch .red-btnPrimary {
    max-width: 80px;
    padding: 8px 10px !important;
    font-size: 14px !important;
    height: 42px !important;
  }
  .pokerTournament-header {
    padding: 15px 20px;
  }
  .tableCard-imgDetail img {
    max-width: 70px;
  }
  .tournamentCard-nameDetail h2 {
    font-size: 26px;
  }
  .cardTournament-Fee p {
    font-size: 14px;
  }
  .home-poker-card {
    padding-top: 140px;
  }
  .footer-logo {
    padding-bottom: 30px;
  }
  .footer-links h5 {
    font-size: 19px;
  }
  .follow-us {
    width: 100%;
    margin-top: 40px;
  }
  .social-links {
    gap: 10px;
  }
  .footer-section {
    padding-bottom: 30px;
  }
  .poker-home .nav-tabs .nav-link,
  .poker-home .nav-tabs .nav-link {
    width: fit-content;
  }
  /* .create-game-box button {
    display: none;
  } */
  .menubtn-mobile {
    display: block;
  }
  .headerRightCol {
    margin-top: 20px;
  }
  .headerRightCol span {
    background: #dc3545;
    border-radius: 30px;
    font-weight: 600;
    border: 1px solid #dc3545;
    height: 44px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0px;
    line-height: 0px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }
  .menubtn,
  .create-game-box button.connect-meta {
    display: none;
  }
}

@media screen and (max-width: 678px) {
  #controlled-tab-example-tabpane-2 .home-poker-card-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
/* @media screen and (max-width: 530px) {
  #controlled-tab-example-tabpane-2 .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
} */

@media screen and (max-width: 575px) {
  .btn-grid {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .home-poker-card-grid {
    gap: 15px;
  }

  .home-poker-card-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .poker-home .nav-tabs .nav-link,
  .poker-home .nav-tabs .nav-link {
    padding: 6px 12px;
    font-size: 13px;
  }

  .no-room-available h4 {
    font-size: 20px;
  }

  .create-game-box button {
    font-size: 14px;
  }

  .poker-tableSearch {
  }

  h2.lobbyHeader-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }
}
