.leave-confirm.modal .sub-btn .btn {
  border-color: #dc3545;
  font-size: 16px;
  box-shadow: none;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-weight: 600;
  border-radius: 30px;
  width: 150px;
  display: grid;
  place-content: center;
  background: #d52839;
}

.leave-confirm.modal .sub-btn .btn.btn-primary:hover,
.leave-confirm.modal .sub-btn .btn.btn-primary:focus {
  border-color: #d52839;
  background: #d52839;
  box-shadow: none;
  color: rgb(255, 255, 255);
}

.leave-confirm.modal .sub-btn {
  margin-bottom: 30px;
}

.block .sub-btn {
  margin-bottom: 10px !important;
  width: 100%;
  display: grid;
  place-items: center;
}

.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
  width: 100% !important;
}

.block .form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.leave-confirm.modal .sub-btn .btn+.btn {
  margin-left: 15px;
}

.leave-confirm.modal .block>p {
  text-align: center;
  padding-bottom: 10px;
  color: #000000;
  font-size: 18px;
}

.sitinPopup-div {
  margin-bottom: 20px;
  padding: 0 10px;
}

.modal-content .block {
  text-align: center;
  display: grid;
  place-items: center;
}

.sitinPopup label.form-label {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 700;
  color: #3e3b3b;
}

.sitinPopup .form-control,
.sitinPopup .form-control:active,
.sitinPopup .form-control:focus {
  color: #000000 !important;
  background: #ebe8e8;
  border: 1px solid #ebe8e8;
  font-size: 14px;
  height: 44px;
  box-shadow: 0 0px 10px #c0b0b02f;
  border-radius: 30px;
  padding: 2px 20px;
}

.sitinPopup .sub-btn.text-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.text-center {
  text-align: center !important;
}

.exit-btn.btn,
.grey-btn.btn {
  height: 38px;
  transition: all .5s;
  width: 144px;
}

.exit-btn.btn {
  background: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
  font-weight: 500;
}

.grey-btn.btn,
.grey-btn.btn:active,
.grey-btn.btn:hover,
.grey-btn.btn:focus {
  background-color: #ddd !important;
  border-color: #ddd !important;
  color: #000 !important;
}

.errorMessage {
  text-align: left;
  color: red;
  font-size: 12px;
  margin: 2px 14px;
}

@media screen and (max-width: 767px) {
  .leave-confirm.modal .block>p {
    padding-bottom: 10px;
  }
}